/* CSS Document */

.nav .soft{color:#124191; text-decoration:none; background-color:#fff; }

.con_cp0{ display:block; width:528px; height:379px; float:left; background-color:#fff;margin:0 16px 16px 0 ; padding:16px 20px;overflow:hidden; }
.con_height{ height:117px; overflow:hidden}
.con_cp0:hover h3,.con_cp0:hover h4{color:#77b8cb; }

.con_cp0 h3{ margin:15px 0 0 9px; font-size:32px;line-height:36px; font-weight:700}
.con_cp0 h4{ margin-left:9px; font-size:12px;line-height:36px }




.con{ width:100%; margin-top:16px; overflow:hidden}
.con_cp{ display:block; width:568px; height:300px; float:left; background-color:#fff; margin:0 16px 16px 0 ;overflow:hidden; }

.con_cp:hover h6,.con_cp:hover h5{color:#77b8cb}
.con_cp h6{ margin:15px 0 0 9px;}
.con_cp h5{ margin-left:9px; font-size:18px; }


.con_cpimg2{ background:url(../image/Nokia-lumia-1520-1020-925-jpg.jpg) no-repeat bottom center #fff}

.con_2{ width:276px; height:254px;  box-shadow:0 1px 2px #CCC; }

.con2_zi{ height:127px; overflow:hidden}
.con_2 img{ width:280px; }
.con_2img{ background-color: #fff}

.con_zx{ background-color:#fff}
.con_zx_zi{height:60px;}
.con_zx img{ width:158px; float:left}
.con_zx p{ float:right; text-align:right; font-size:18px; font-family:"nokia-pure-headline","Segoe UI","微软雅黑","SimHei"; margin:20px 5px 0 0}
.con_zx p span{ font-size:14px; line-height:35px;}
.con_zx p strong{ line-height:40px;}

.nomargin{ margin-right:0}















