@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body {
    font-family: "微软雅黑",Verdana,"宋体";
}
ul,ol{list-style:none;}
h1, h2, h3, h4 {font-family: "微软雅黑";
font-weight: normal;}
img {border: medium none;}
a {color: #FFFFFF;outline-style: none;text-decoration: none;}
#wq_header {background-color: #004A51;font-family: Verdana;height: 60px;width: 100%;}
.container {margin: 0 auto;}
.wq_header_wrapper {position: relative;width: 1000px;}
.wq_header_wrapper li a:hover{color:#F08300;}
.wq_nav_main a:hover{border-bottom:2px solid #F08300;}
.wq_clearfix:before, .wq_clearfix:after {content: " ";display: table;}
.wq_clearfix:after {clear: both;}
#wq_logo{background: url(../images/woqu-all.png) no-repeat scroll -283px 10px;float: left;height: 60px;left: 0;position: relative;width: 200px;}
.wq_logo_home_icon {
    background: url(../images/woqu-all.png) no-repeat scroll 0 -151px;
    display: none;
    height: 19px;
    position: absolute;
    right: 17px;
    top: 7px;
    width: 31px;
}
.wq_header_nav_outter_wrapper {
    float: left;
    height: 60px;
    position: relative;
    width: 800px;
	}
.wq_header_nav {
    float: left;
    padding-top: 22px;
    width: 800px;
}
.wq_header_nav > li {
    border-bottom: 2px solid #004A51;
    float: left;
    height: 36px;
    position: relative;
}
.wq_header_divide {
    background: url(../images/dash.png) repeat-y scroll 0 0 ;
    height: 16px;
    margin-right: 30px;
    width: 1px;
}
.wq_nav_main {margin-right: 25px;}
.wq_nav_prepare {margin-right: 15px;}
li.wq_nav_op, li.wq_right_divide, li.wq_header_phone, li.wq_header_mycount {
 float: right;}
.wq_nav_op { margin-right: 5px;}
.wq_header_nav > li > a {display: block;height: 100%;width: 100%;}
.wq_nav_prepare a, .wq_nav_op a {font-size: 12px;}
li.wq_right_divide {border: medium none;color: #FFFFFF;font-size: 12px;margin-right: 5px;}
.wq_header_phone > p, .wq_header_mycount > p {
    background-image: url(../images/woqu-all.png);
    background-repeat: no-repeat;
    float: left;
    font-size: 12px;
    margin-left: 10px;
    padding-right: 13px;}
.wq_header_phone > p {background-position: 95px -46px;color: #F08300;
font-family: Arial;font-size: 15px;font-weight:bold;}
.phoneList { height: 56px;width: 150px;}
.subList {background-color: #FFFFFF;border: 1px solid #E6E6E6;display: none;
left: 0;position: absolute;top: 25px;z-index: 10000;}
.subList li {color: #183131;font-family: Arial;font-size: 12px; line-height: 12px;text-indent: 10px;}
.banner{height:400px;width:100%;position:relative;overflow:hidden;}
.banner-in li{height:400px;left: 0;top: 0;margin:0 auto;}
.banner-in-1{background:url(../images/banner01.jpg) no-repeat center center;}
.banner-in-2{background:url(../images/banner02.jpg) no-repeat center center;}
.banner-in-3{background:url(../images/banner03.jpg) no-repeat center center;}
.banner-in-4{background:url(../images/banner04.jpg) no-repeat center center;}
.banner-in-5{background:url(../images/banner05.jpg) no-repeat center center;}
.wq_btn_list {bottom: 5px;position: absolute; right: 20px;width: auto;}
.wq_btn_list li{text-align:center;line-height:16px;color:#000;font-size:12px;}
.wq_btn_item {background-image: url(../images/woqu-all.png);background-position: 0 -102px;float: left;margin-right: 10px;cursor:pointer;}
.wq_btn_active {background-position: 0 -124px;}
.wq_body_wrapper {width: 1000px;}
.wq_our_product {padding: 24px 0 23px;}
.wq_op_list {color: #176D74;font-family: "微软雅黑";
font-size: 14px;height: 37px;line-height: 37px;}
.wq_op_list li {float: left;}
li.wq_op_count {font-size: 18px;font-weight: 700;
line-height: 26px;}
.wq_opc_unit { color: #E77741;}
.wq_op_divide {background: url(../images/woqu-all.png) no-repeat scroll 0 0;height: 100%;margin: 0 15px;width: 20px;}
.wq_opc_num {color: #E77741;font-size: 26px;}
.wq_op_num {color: #E77741;font-size: 18px;}
.wq_trip_plan {border: 6px solid #0A808C;height: 161px;}

.wq_tp_left {background: url(../images/woqu-all.png) no-repeat scroll 340px -374px ;float: left;height: 144px;padding: 17px 0 0 20px;position: relative;width: 400px;}
.wq_tp_left h1 {color: #E77741;font-size: 24px;font-weight: 700;line-height: 26px; padding-bottom: 22px;
}
.wq_tp_left p {color: #848484;font-size: 12px;line-height: 20px;width: 288px;}
.wq_items { height: 26px;padding-top: 15px;}
.wq_prepare_items a {background: url(../images/woqu-all.png) no-repeat scroll 0 -231px;
    float: left;
    font-size: 14px;
    font-weight: 700;
    height: 26px;
    line-height: 26px;
    margin-right: 18px;
    text-indent: 6px;
    width: 86px;
}
.visa_i, .sim_i, .insurance_i, .team_i, .rentcar_i, .traffic_i, .activity_i {
    background-image: url(../images/woqu-all.png);
    background-repeat: no-repeat;
    float: left;
    height: 26px;
    margin-left: 10px;
    width: 18px;
}
.visa_i {
    background-position: -52px 5px;
}
.sim_i {
    background-position: -47px -27px;
}
.insurance_i {
    background-position: -47px -60px;
}
.wq_tp_right {
    float: left;
    padding: 17px 0 0 20px;
    width: 548px;
}
.wq_tp_right h1 {
    color: #09808B;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 22px;
}
.wq_half_self {
    float: left;
    width: 170px;
}
.wq_all_self {
    float: left;
}
.wq_tp_right dt {
    color: #09808B;
    font-family: "微软雅黑";
    font-size: 16px;
    font-weight: 700;
}
.wq_tp_right dd {
    color: #848484;
    font-size: 12px;
    line-height: 18px;
}
.wq_tp_right a {
    background-image: url(../images/woqu-all.png);
    background-position: 0 -322px;
    background-repeat: no-repeat;
    float: left;
    font-size: 14px;
    font-weight: 700;
    height: 26px;
    line-height: 26px;
    margin-right: 18px;
    text-indent: 6px;
    width: 106px;
}
.team_i {
    background-position: -50px -93px;
}
.rentcar_i {
    background-position: -53px -126px;
}
.traffic_i {
    background-position: -52px -162px;
}
.activity_i {
    background-position: -55px -200px;
}
.wq_ft_banner_wrapper {
    padding: 32px 0;
}
.wq_first_time_banner {
    background: url(../images/first-time-banner.jpg) no-repeat scroll 0 0;display: block;height: 84px;width: 100%;}
.wq_fst_left {float: left;width: 320px;}
.wq_product_item {color: #333333;display: block;float: left;font-size: 14px;width: 320px;}

.wq_pimg_wrapper, .wq_pimg_wrapper img {float: left;
position: relative;}
.wq_hide_tips {background-color: #FFFFFF;bottom: 0;
color: #004248;display: none;font-size: 12px;left: 0;
line-height: 20px;opacity: 0.8;position: absolute;
width: 100%;}
.wq_hide_tips p { padding: 5px 20px;}
.wq_pinfo_wrapper {
    background-color: #ECF8F4;
    float: left;
    height: 90px;
    padding: 10px 15px 0 20px;
    position: relative;
    width: 285px;
}
.wq_ptitle {
    display: block;
    line-height: 22px;
    padding-bottom: 6px;
}
.wq_pprice {
    bottom: 16px;
    left: 20px;
    line-height: 24px;
    position: absolute;
}.wq_price_num {
    color: #F07C00;
    font-size: 22px;
}
.wq_price_start {
    color: #F07C00;
    margin-right: 20px;
}
.wq_pdetail_btn {
    background: url(../images/woqu-all.png) no-repeat scroll 0 -179px;bottom: 16px;display: block;height: 22px;
position: absolute; right: 20px; width: 22px;}
.wq_fst_right {float: left;margin-left: 20px;width: 660px;}
.wq_fstr_top {background: url(../images/woqu-all.png) no-repeat scroll -276px -162px ;color: #333333;font-size:16px;line-height: 16px;padding: 64px 0 20px;position: relative;}
.wq_fstr_top em {
    background: url(../images/woqu-all.png) no-repeat scroll -151px -278px;bottom: -30px;height: 118px;
pointer-events: none;position: absolute;
right: 0;width: 134px;z-index: 10;}

.wq_hide_tips {background-color: #FFFFFF;bottom: 0;
color: #004248;display: none;font-size: 12px;
left: 0;line-height: 20px;opacity: 0.8;position: absolute;width: 100%;}
.wq_hide_tips p {padding: 5px 20px;}
.wq_pinfo_wrapper { background-color: #ECF8F4;float: left;height: 90px;padding: 10px 15px 0 20px;position: relative;width: 285px;}

.wq_ptitle {display: block;line-height: 22pxpadding-bottom: 6px;}
.wq_ptitle {display: block;line-height: 22px;padding-bottom: 6px;}
.wq_price_num {color: #F07C00;font-size: 22px;}
.wq_price_num {color: #F07C00;font-size: 22px;}
.wq_fs_bottom {padding-top: 20px;}
.wq_product_wide {width: 660px;}
.wq_product_wide .wq_pinfo_wrapper {width: 625px;}

.fus_title{border-bottom: 1px solid #C2C2C2;padding: 45px 0 5px;}
.wq_fus_title { color: #E67740;float: left;font-family: "微软雅黑";font-size: 24px;font-weight: 700;line-height: 24px;}
.wq_fus_desc {
    color: #333333;
    float: left;
    font-size: 16px;
    line-height: 16px;
    margin-left: 10px;
    padding-top: 8px;
}
.wq_fus_more {
    color: #E67740;
    float: right;
    padding-top: 7px;
}
.wq_l_orange {
    color: #E77741 !important;
    font-size: 14px;
}
.fus_top, .fus_bottom {padding-top: 20px;}
.wq_footer_wrapper {
    background-color: #FFFFFF;
    font-family: Verdana,"宋体";
    font-size: 13px;
    width: 100%;
}
.wq_footer {
    margin: 0 auto;
    padding-top: 40px;
    text-align: left;
    width: 1000px;
}
.wq_footer_top {
    padding-bottom: 40px;
}.wq_footer_top dl {
    background-image: url(../images/woqu-all.png);
    background-repeat: no-repeat;
    color: #757575;
    float: left;
    height: 42px;
    padding-left: 67px;
    width: 133px;
}
.wq_ft_product {background-position: -375px -388px;}
.wq_ft_price {background-position: -375px -447px;}
.wq_ft_kefu {background-position: -377px -506px;}
.wq_ft_safety {background-position: -379px -568px;}
.wq_ft_fee {background-position: -371px -625px;}
.wq_footer_top dl dt {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.wq_partner_wrapper {border: 1px solid #C2C2C2;}
.wq_p_link {
    background-image: url(../images/partner-list.jpg);
    background-repeat: no-repeat;
    float: left;
    height: 52px;
    line-height: 52px;
    margin-right: 10px;
    width: 115px;
}
.wq_p_link a {
    display: block;
    height: 100%;
    width: 100%;
}
.label_link {
    background-image: none;
    color: #757575;
    text-align: center;
}
.nta_link {
    background-position: -10px 0;
}
.lv_link {background-position: -140px 0;width: 109px;}
.azot_link {background-position: -260px 0;}
.la_link {background-position: -400px 0;}
.paypal_link {background-position: -530px 0;}
.zfb_link {background-position: -670px 0;}
.cft_link {background-position: -800px 0;}
.wq_footer_bottom {text-align: center;}
.wq_link a, .wq_footer_wrapper p { color: #768989;}
.wq_link {padding: 40px 0 20px;}
.wq_cert_list {
    margin: 0 auto;
    padding: 25px 0;
    width: 240px;
}
.wq_cert_list li {
    float: left;
}
.wq_cert_list a {
    background-image: url(../images/woqu-all.png);
    background-repeat: no-repeat;
    display: block;
    height: 27px;
    width: 72px;
}
.wq_360cert {background-position: 0 -683px;margin-right: 10px;}
.wq_geocert {background-position: -80px -683px; margin-right: 10px;}
.wq_alipay {
    background-position: -160px -683px;
}
.wq_bubble_list {
    bottom: 150px;
    height: 366px;
    position: fixed;
    right: 1px;
    width: 60px;
    z-index: 10084;
}
.wq_bubble_list > li {
    background-color: #00A7A7;
    border-bottom: 1px solid #FFFFFF;
    float: left;
    height: 60px;
    position: relative;
    width: 60px;
}
.wq_bubble_list > li > a {
    background-image: url(../images/woqu-all.png);
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
}
#qqKefu {
    background-position: -61px -791px;
}
#onlineKefu {
    background-position: -61px -852px;
}
.wq_empty_cart {
    background-position: -61px -730px;
}
.wq_my_cart {
    background-position: -184px -122px;
    z-index: 99;
}
.wq_cartProductNum {
    color: #FFFFFF;
    font-size: 12px;
    font-style: normal;
    left: 23px;
    position: absolute;
    text-align: center;
    top: 8px;
    width: 20px;
}
#cartDrawer {
    background-color: #DDE7E8;
    height: 58px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    z-index: 98;
}
.wq_mc_list {
    background-color: #FFFFFF;
    border: 1px solid #DDE7E8;
    bottom: -1px;
    color: #848484;
    display: none;
    font-size: 12px;
    position: absolute;
    right: 60px;
}
li.wq_mc_loading {
    background: url(../images/loading.gif) no-repeat scroll center center rgba(0, 0, 0, 0);
}
li.wq_mc_empty, li.wq_mc_loading {
    height: 60px;
    line-height: 60px;
    padding: 0;
    text-align: center;
    width: 152px;
}
#searchProduct {
    background-position: -184px -183px;
}
.wq_sp_form {
    background-color: #F6F6F6;
    border: 1px solid #E6E6E6;
    display: none;
    height: 72px;
    left: -154px;
    padding: 15px 0 0 10px;
    position: absolute;
    top: 0;
    width: 142px;
}
#feedBack {
    background-position: -184px -61px;
}
input[type="text"], input[type="password"] {
    padding: 3px 6px;
}
#searchInput {
    border: 1px solid #A7AEAC;
    height: 15px;
    width: 117px;
}
#searchProductSpan {
    color: #E77741;
    font-size: 12px;
}
#searchBtn {
    background-color: #E77741;
    bottom: 10px;
    display: block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin: 15px 0 0 84px;
    position: absolute;
    right: 10px;
    text-align: center;
    width: 47px;
}
.wq_place_holder {
    cursor: text;
    left: 0;
    position: absolute;
    top: 0;
    vertical-align: middle;
}
#toTop {
    background-position: -184px 0;
}