@charset "utf-8";
/* CSS Document */

/*********** banner 部分开始 ********** */
.banner{ width:100%; height:408px;overflow:hidden; position:relative;}
.banner ul li{ display:none;}
.banner ul li.current{ display:block;}
.banner ul li img{ display:block; width:100%; height:100%;}
.circle{ position:absolute; left:50%; bottom:30px; margin-left:-65px;}
.circle{ overflow:hidden;}
.circle li{ width: 15px; height: 15px;background: #cccccc; border-radius:50%; float:left; margin-left:7px; cursor:pointer;}
.circle li.current{ background:#0e9a9d;}

/*********** channel 部分开始***********/
.channel{ width:1000px; margin:0 auto; margin-top:-10px; position:relative; z-index:99; margin-top:-25px;}
.channel ul li{ float:left; padding-right:2px;}
.channel .nopadding{ padding-right:0;}
.channel img{ display:block;}

/*********** index 部分开始***********/
.index_con{ width:1000px; height:180px; margin:25px auto;}
.index_new{ width: 662px; height: 178px; border:1px solid #d4d4d4; float:left;}
.index_new_T{ width: 662px;height:33px; background:#edeef0;}
.index_new_T li{ width:84px; height:32px; border-bottom:1px solid #d4d4d4; border-right:1px solid #d4d4d4; float:left; text-align:center; line-height:32px; color:#393939; font-size:14px; cursor:pointer;}
.index_new_T li.current{ background:#FFF; border-bottom:1px solid #FFF; position:relative; z-index:900;}
.index_new_B{ width: 637px; height: 135px; background: #FFF; border-top:1px solid #d4d4d4; position:relative; top:-1px; padding:10px 15px 0 10px;}
.index_new_B li{ display:none; overflow:hidden;}
.index_new_B li.current{ display:block;}
.index_new_B_img{ float:left; padding-right:15px;}
.index_new_B_text{ padding-top:5px; width:420px; float:left;}
.index_new_B_text li{ line-height:28px; font-size:14px; display:block;}
.index_new_B_text li a{ color:#696969; float:left;}
.index_new_B_text li span{ color:#babbbb; float:right;}
.index_ad{width:307px; height: 164px;float:right; position:relative;}
.index_ad img{ width:100%; height:auto;}
.index_ad a{ width: 87px; height: 33px; background: url(../images/adView.png) no-repeat; position:absolute; right:20px; bottom:-15px; text-align:center; line-height:33px; color:#FFF;}
.index_ad a:hover { color:#FFF !important;}

/***********侧边栏部分开始***********/
.qq_consulting{ position:fixed;right:0px; bottom:200px;}







